.title-safe {
  top: 2.5%;
  position: absolute;
  width: 95%;
  height: 95%;
  border: 1px dashed rgb(0, 0, 0);
}

.action-safe {
  top: 5%;
  position: absolute;
  width: 90%;
  height: 90%;
  border: 1px dashed rgb(0, 0, 0);
}
